<div class="container-fluid">
    <div class="card card-widget widget-user shadow">
        <div class="widget-user-header bg-dark">
            <h3 class="widget-user-username">{{ucwords user.name}}</h3>
            <h5 class="widget-user-desc">{{user.email}}</h5>
        </div>
        <div class="widget-user-image">
            {{#unless user.avatar}}
                <span class="brand-image img-circle elevation-2 d-flex justify-content-center align-items-center bg-primary text-white font-weight-500" style="width: 90px;height:90px">
                    <h4>{{ucwords (substr user.firstname 0 1)}}{{ucwords (substr user.lastname 0 1)}}</h4>
                </span>
            {{else}}
                <img class="img-circle elevation-2" src="../assets/uploads/{{user.avatar}}" alt="User Avatar">
            {{/unless}}
        </div>
        <div class="card-footer">
            <div class="container-fluid">
                <dl>
                    <dt>Address</dt>
                    <dd>{{user.address}}</dd>
                </dl>
                <dl>
                    <dt>User Type</dt>
                    <dd>{{lookup type_arr user.type}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>